{% extends 'admin/change_list.html' %}
{% load i18n admin_static %}

{% block content %}
    <ul>
    {% if user.is_superuser %}
        <li><a href="{% url 'product_export' %}?export_type=all">Полная выгрузка товара</a></li>
    {% endif %}
    {% if user|check_perm:'storage.import_revise' %}
        <li>Сверка:</li>
        <ul>
            <li><a href="{% url 'product_export' %}?export_type=revise">Выгрузка товара для сверки</a></li>
            <li><a href="{% url 'revise_import_view' %}">Сверка товара</a></li>
            <li><a href="{% url 'revise_report' %}">Просмотр отчета по сверкам товара</a></li>
        </ul>
    {% endif %}
        <li><a href="{% url 'product_export' %}?export_type=wholesale">Выгрузка товара в excel формате для оптовиков</a></li>
    </ul>
    {{ block.super }}
{% endblock %}
