{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {{ block.super }}

    <script type="text/javascript">

        var kindRowPref = "kindRowPref_";

        var group_map = {};
        var category_map = {};
        var kinds_to_export = [];

        function fillSelect(values, selectId){
            if (selectId == undefined || selectId == '')
                return;
            var select = $('#' + selectId);
            clearSelect(select);
            values.sort();
            $.each(values, function(i, v){
                select.append($('<option>',{
                    value: v,
                    text: v
                }));
            });
        }

        function fillKindSelect(values, selectId){
            if (selectId == undefined || selectId == '')
                return;
            var select = $('#' + selectId);
            clearSelect(select);

            values.sort(function(a, b){
                var lName = a['kind_name'];
                var rName = b['kind_name'];
                if (lName < rName)
                    return -1;
                if (lName > rName)
                    return 1;
                return 0;
            });

            $.each(values, function(i, value){
                select.append($('<option>',{
                    value: value['id'],
                    text: value['kind_name']
                }));
            });
        }

        function clearSelect(selectObject){
            selectObject.find('option').remove().end();
        }

        function populateFilter() {
            var groupVal = $('#group_selector').val();
            category_map = group_map[groupVal];
            fillSelect(Object.keys(category_map), 'category_selector')

            var categoryVal = $('#category_selector').val();
            fillKindSelect(category_map[categoryVal], 'kind_selector');
        }

        function initProductStorage()
        {
            showPreLoader();
             $.ajax({
                dataType: 'json',
                method: 'GET',
                url: '{% url 'product_json_view' %}',
                data: {'product_list': 'balance_kinds'},
                success: function(data){
                    hidePreLoader();
                    group_map = jQuery.parseJSON(JSON.stringify(data));
                    fillSelect(Object.keys(group_map), 'group_selector');
                    populateFilter();
                },
                error: function(data){
                    hidePreLoader();
                    alert('Ошибка получения данных со склада!\nОбратитесь к администратору системы!');
                }
            });
        }

        function addKindToExport() {
            var id = $("#kind_selector").val();
            addKindRow(id);
            kinds_to_export.push(id);
        }

        function fillTableTd(data){
            return $('<td>', {
                text: data
            });
        }

        function buildRemoveProductBut(kindId){
            return $('<button>', {
                text: '-',
                on: {
                    click: function(e){
                        e.preventDefault();
                        kinds_to_export = $.grep(kinds_to_export, function(value) {
                            return value != kindId;
                        });
                        $('#' + kindRowPref + kindId).remove();
                    }
                }
            });
        }

        function addKindRow(kindId) {
            var row = $('<tr>', {id: kindRowPref + kindId}).append(
                    fillTableTd().append(buildRemoveProductBut(kindId)),
                    fillTableTd($("#group_selector :selected").text()),
                    fillTableTd($("#category_selector :selected").text()),
                    fillTableTd($("#kind_selector :selected").text())
            );
            row.insertBefore($('#kind-storage-data').find('tr:last'));
        }

        $(document).ready(function(){
            initProductStorage();

            $('#kind-add').click(function(e){
                e.preventDefault();
                addKindToExport();
            });

            $('#group_selector').change(function(e) {
                e.preventDefault();
                category_map = group_map[this.value];
                populateFilter();
            });

            $('#category_selector').change(function(e) {
                e.preventDefault();
                fillKindSelect(category_map[this.value], 'kind_selector');
            });

            $("#export-do").click(function(e) {
                e.preventDefault();
                if (kinds_to_export.length > 0) {
                    $("#kinds").val(kinds_to_export.join(","));
                    $("#kind-storage-export-form").submit();
                }
                else {
                    alert("Добавьте минимум 1 вид!");
                }
            });

        });
    </script>

{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label='storage' %}">{{ 'Склад' }}</a>
        &rsaquo; <a href="/admin/storage/product/">Товар на складе</a>
        &rsaquo; Выгрузка остатков
    </div>
{% endblock %}

{% block content %}
<table>
    <tbody>
        <tr>
            <td><span>Выбор товара</span></td>
            <td>
                <select id="group_selector"></select>
                <select id="category_selector"></select>
                <select id="kind_selector"></select>
            </td>
        </tr>
    </tbody>
</table>
<p><input id="kind-add" type="button" value="Добавить"/></p>

<form id="kind-storage-export-form" action="{% url 'product_export' %}" method="post">
    {% csrf_token %}
    <div>
        <table id="kind-storage-data">
            <caption>Товары к выгрузке</caption>
            <thead>
                <th></th>
                <th>Группа</th>
                <th>Категория</th>
                <th>Вид</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <input id="kinds" name="kinds" type="hidden">
    <input id="export-cancel" type="button" value="Назад" onclick="window.location='/admin/storage/product/';">
    <input id="export-do" type="button" value="Выгрузить">
</form>

{% endblock %}