{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}
    {% if form_type == 'add' %}{{ "Форма добавления товара" }}
    {% else %} {{ "Форма изменения товара" }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='storage' %}">{{ 'Склад' }}</a>
&rsaquo; <a href="/admin/storage/product/">Товары</a>
{% if form_type == 'add' %}&rsaquo; {{ "Добавление товара" }}
{% else %}&rsaquo; {{ "Просмотр товара" }}
{% endif %}
</div>
{% endblock %}

{% block content %}
    <table>
        <tbody>
            <tr>
                <td><span>Категория товара</span></td>
                <td>
                    <input value="{{ product_group }}" readonly>
                    <input value="{{ product_category }}" readonly>
                    <input value="{{ product_kind }}" readonly>
                </td>
            </tr>
            <tr>
                <td><span>Наименование</span></td>
                <td>
                   <input value="{{ product.product_name }}" readonly>
                </td>
            </tr>
            {% if user.is_superuser %}
            <tr>
                <td><span>Себестоимость</span></td>
                <td>
                    <input value="{{ product.cost_price }}" readonly>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td><span>Розница</span></td>
                <td>
                    <input value="{{ product.price_retail }}" readonly>
                </td>
            </tr>
            <tr>
                <td><span>Дисконт</span></td>
                <td>
                   <input value="{{ product.price_discount }}" readonly>
                </td>
            </tr>
            <tr>
                <td><span>Опт 5к</span></td>
                <td>
                   <input value="{{ product.price_opt_1}}" readonly>
                </td>
            </tr>
            <tr>
                <td><span>Опт 20к</span></td>
                <td>
                    <input value="{{ product.price_opt_2 }}" readonly>
                </td>
            </tr>
            <tr>
                <td><span>Опт 100к</span></td>
                <td>
                    <input value="{{ product.price_opt_3 }}" readonly>
                </td>
            </tr>
            <tr>
                <td><span>Количество на складе</span></td>
                <td>
                    <input value="{{ product.product_count }}" readonly>
                </td>
            </tr>
            <tr>
                <td><span>Минимальное количество</span></td>
                <td>
                    <input value="{{ product.min_count }}" readonly>
                </td>
            </tr>
            <tr>
                <td><span>Доступность в продаже</span></td>
                <td>
                    <input name="is_enable" type="checkbox" {% if product.is_enable%} checked {% endif %} readonly/>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <input type="button" value="Назад" onclick="window.location='/admin/storage/product/';">
    </p>
{% endblock %}
