{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}
    {{ "Форма добавления изъятия денег из кассы" }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        var cashboxs_amount = {}
        {% for cashbox in cashboxs %}
            cashboxs_amount['{{ cashbox.cash_type }}'] = {{ cashbox.cash }};
        {% endfor %}

        $(document).ready(function(){
            $('#cashbox_selector').change(function(e) {
                e.preventDefault();
                $('#cashbox-amount').text(cashboxs_amount[this.value]);
            });
            $('#cashbox-amount').text(cashboxs_amount[$('#cashbox_selector').val()]);
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='cashbox' %}">{{ 'Касса' }}</a>
&rsaquo; <a href="/admin/cashbox/cashtake/">Изъятие денег</a>
&rsaquo; {{ "Изъятие денег из кассы" }}
</div>
{% endblock %}

{% block content %}
<form id="cashtake-add-form" action="{% url 'cash_take_add' %}" method="post">
    {% csrf_token %}
    <table>
        <tbody>
            <tr>
                <td><span>Тип кассы</span></td>
                <td>
                    <select id="cashbox_selector" name="cash_type" form="cashtake-add-form" required>
                        {% for cashbox in cashboxs %}
                            <option value="{{ cashbox.cash_type }}">{{ cashbox.get_cash_type_display }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><span>Сумма</span></td>
                <td>
                    {% if form.cash.errors %}{{ form.cash.errors }} {% endif %}
                    <input name="cash" type="number" value="{{ form.cash.value | default_if_none:""}}"/>
                    <span>доступно для снятия - </span><span id="cashbox-amount"></span>
                </td>
            </tr>
            <tr>
                <td><span>Причина снятия денег</span></td>
                <td>
                    {% if form.description.errors %}{{ form.description.errors }} {% endif %}
                    <textarea name="description" rows="5" cols="60">{{ form.description.value | default_if_none:""}}</textarea>
                </td>
            </tr>

        </tbody>
    </table>
    <p>
        <input type="button" value="Отменить" onclick="window.location='/admin/cashbox/cashtake/';">
        <input id="submit-but" type="submit" value="Сохранить"/>
    </p>
</form>
{% endblock %}
