{% extends "admin/base.html" %}
{% load i18n admin_static static staticfiles %}

{% block title %}{{ 'Администрирование Hookah CRM' }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ 'Администрирование Hookah CRM' }}</a></h1>
{% endblock %}

{% block extrahead %}
    {{  block.super }}
    <link rel="shortcut icon" type="image/png" href="{% static '/favicon.ico' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'js/common/loader/loadingoverlay.min.js' %}"></script>
    <script src="{% static 'js/common/loader/preLoader.js' %}"></script>
    <script src="{% static 'js/common/numberUtils.js' %}"></script>
{% endblock %}

{% block welcome-msg %}
    {% trans 'Welcome,' %}
    <strong>{{ user }}</strong> -
{% endblock %}

{% block userlinks %}
    <a href="{% url 'logout_view' %}">Закончить рабочую сессию</a>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block content_title %}{% endblock %}
