{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">

        var productRowPref = "productRowPref_";

        var group_map = {};
        var category_map = {};
        var kind_map = {};
        var products = {};
        var products_to_export = [];

        function fillSelect(values, selectId){
            if (selectId == undefined || selectId == '')
                return;
            var select = $('#' + selectId);
            clearSelect(select);
            values.sort();
            $.each(values, function(i, v){
                select.append($('<option>',{
                    value: v,
                    text: v
                }));
            });
        }

        function fillProductSelect(values, selectId){
            if (selectId == undefined || selectId == '')
                return;
            var select = $('#' + selectId);
            clearSelect(select);

            values.sort(function(a, b){
                var lName = a['product_name'];
                var rName = b['product_name'];
                if (lName < rName)
                    return -1;
                if (lName > rName)
                    return 1;
                return 0;
            });

            $.each(values, function(i, value){
                select.append($('<option>',{
                    value: value['id'],
                    text: value['product_name']
                }));
            });
        }

        function clearSelect(selectObject){
            selectObject.find('option').remove().end();
        }

        function populateFilter() {
            var groupVal = $('#group_selector').val();
            category_map = group_map[groupVal];
            fillSelect(Object.keys(category_map), 'category_selector');

            var categoryVal = $('#category_selector').val();
            kind_map = category_map[categoryVal];
            fillSelect(Object.keys(kind_map), 'kind_selector');

            var kindVal = $('#kind_selector').val();
            fillProductSelect((kind_map[kindVal]), 'product_selector');
        }

        function populateProducts(group_map) {
            $.each(group_map, function(i) {
                var categories = group_map[i];
                $.each(categories, function(j) {
                    var kinds = categories[j];
                    $.each(kinds, function(k) {
                        var cur_products = kinds[k];
                        cur_products.forEach(function(product) {
                           products[product['id']] = product;
                        });
                    });
                });
            });
        }

        function initProductStorage()
        {
             $.ajax({
                dataType: 'json',
                method: 'GET',
                url: '{% url 'products_json_view' %}',
                data: {'product_list': 'balance'},
                success: function(data){
                    group_map = jQuery.parseJSON(JSON.stringify(data));
                    fillSelect(Object.keys(group_map), 'group_selector');
                    populateFilter();
                    populateProducts(group_map);
                },
                error: function(data){
                    alert('Ошибка получения данных со склада!\nОбратитесь к администратору системы!');
                }
            });
        }

        function addProductToExport() {
            var id = $("#product_selector").val();
            var product = products[id];
            addProductRow(product);
            products_to_export.push(id);
        }

        function fillTableTd(data){
            return $('<td>', {
                text: data
            });
        }

        function buildRemoveProductBut(productId){
            return $('<button>', {
                text: '-',
                on: {
                    click: function(e){
                        e.preventDefault();
                        products_to_export = $.grep(products_to_export, function(value) {
                            return value != productId;
                        });
                        $('#' + productRowPref + productId).remove();
                        alert(products_to_export.join(","));
                    }
                }
            });
        }

        function addProductRow(product) {
            var row = $('<tr>', {id: productRowPref + product['id']}).append(
                    fillTableTd().append(buildRemoveProductBut(product['id'])),
                    fillTableTd(product['product_group']),
                    fillTableTd(product['product_category']),
                    fillTableTd(product['product_kind']),
                    fillTableTd(product['product_name'])
            );
            row.insertBefore($('#product-storage-data').find('tr:last'));
        }

        $(document).ready(function(){
            initProductStorage();

            $('#product-add').click(function(e){
                e.preventDefault();
                addProductToExport();
            });

            $('#group_selector').change(function(e) {
                e.preventDefault();
                populateFilter();
            });

            $('#category_selector').change(function(e) {
                e.preventDefault();
                kind_map = category_map[this.value];
                fillSelect(Object.keys(kind_map), 'kind_selector');

                var kindVal = $('#kind_selector').val();
                var products = kind_map[kindVal];
                fillProductSelect(products, 'product_selector');
            });

            $('#kind_selector').change(function(e) {
                e.preventDefault();
                var products = kind_map[this.value];
                fillProductSelect(products, 'product_selector');
            });

            $("#export-do").click(function(e) {
                e.preventDefault();
                if (products_to_export.length > 0) {
                    $("#products").val(products_to_export.join(","));
                    $("#product-storage-export-form").submit();
                }
                else {
                    alert("Добавьте минимум 1 товар!");
                }
            });

        });
    </script>

{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label='storage' %}">{{ 'Склад' }}</a>
        &rsaquo; <a href="/admin/storage/productstorage/">Товар на складе</a>
        &rsaquo; Выгрузка остатков
    </div>
{% endblock %}

{% block content %}
<table>
    <tbody>
        <tr>
            <td><span>Выбор товара</span></td>
            <td>
                <select id="group_selector"></select>
                <select id="category_selector"></select>
                <select id="kind_selector"></select>
                <select id="product_selector"></select>
            </td>
        </tr>
    </tbody>
</table>
<p><input id="product-add" type="button" value="Добавить"/></p>

<form id="product-storage-export-form" action="{% url 'productstorage_export' %}" method="post">
    {% csrf_token %}
    <div>
        <table id="product-storage-data">
            <caption>Товары к выгрузке</caption>
            <thead>
                <th></th>
                <th>Группа</th>
                <th>Категория</th>
                <th>Вид</th>
                <th>Наименование</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <input id="products" name="products" type="hidden">
    <input id="export-cancel" type="button" value="Назад" onclick="window.location='/admin/storage/productstorage/';">
    <input id="export-do" type="button" value="Выгрузить">
</form>

{% endblock %}