<ul>
    <li>Сверку совершил - {{ revise.owner }}</li>
    <li>Сверка от {{ revise.get_verbose_revise_date }}</li>
    <li>Статус - {{ revise.get_status_display }}</li>
</ul>
<table>
    <thead>
        <th>№</th>
        <th>Группа</th>
        <th>Категория</th>
        <th>Вид</th>
        <th>Наименование</th>
        <th>В системе(шт)</th>
        <th>На складе(шт)</th>
        <th>Себестоимость(руб)</th>
        <th>Розница(руб)</th>
        <th>Дисконт(руб)</th>
        <th>Заведения(руб)</th>
        <th>Оптом(руб)</th>
    </thead>
    <tbody>
        {% for product_revise in revise.cache_products_revise %}
            {% if product_revise.get_loss_cost_price > 0 %}
            <tr style="background: lightgreen">
            {% elif product_revise.get_loss_cost_price < 0 %}
            <tr style="background: lightcoral">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ forloop.counter }}</td>
                <td>{{ product_revise.product.product_kind.product_category.product_group.group_name }}</td>
                <td>{{ product_revise.product.product_kind.product_category.category_name }}</td>
                <td>{{ product_revise.product.product_kind.kind_name }}</td>
                <td>{{ product_revise.product.product_name }}</td>
                <td>{{ product_revise.count_storage }}</td>
                <td>{{ product_revise.count_revise }}</td>
                <td>{{ product_revise.get_loss_cost_price }}</td>
                <td>{{ product_revise.get_loss_retail_price }}</td>
                <td>{{ product_revise.get_loss_discount_price }}</td>
                <td>{{ product_revise.get_loss_shop_price }}</td>
                <td>{{ product_revise.get_loss_wholesale_price }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Итого</td>
            <td><b>{{ revise.loss_cost_price }}</b></td>
            <td><b>{{ revise.loss_retail_price }}</b></td>
            <td><b>{{ revise.loss_discount_price }}</b></td>
            <td><b>{{ revise.loss_shop_price }}</b></td>
            <td><b>{{ revise.loss_wholesale_price }}</b></td>
        </tr>
    </tbody>
</table>
{% if revise.status == 'DRAFT' %}
<form action="{% url 'revise_delete_view' revise.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Отменить сверку">
</form>
<form action="{% url 'revise_accept_view' revise.id%}" method="post">
    {% csrf_token %}
    <input type="submit" value="Подтвердить сверку">
</form>
{% endif %}
<input type="button" value="Назад" onclick="window.location='/admin/storage/revise/';">