{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block title %} {{ "Форма добавления товара к приемке" }} {% endblock %}

{% block extrahead %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript">
        var group_map = {};
        var category_map = {};
        var kind_map = {};

        function fillSelect(values, selectId){
            if (selectId == undefined || selectId == '')
                return;
            var select = $('#' + selectId);
            clearSelect(select);
            values.sort();
            $.each(values, function(i, v){
                select.append($('<option>',{
                    value: v,
                    text: v
                }));
            });
        }

        function fillProductSelect(values, selectId){
            if (selectId == undefined || selectId == '')
                return;
            var select = $('#' + selectId);
            clearSelect(select);

            values.sort(function(a, b){
                var lName = a['product_name'];
                var rName = b['product_name'];
                if (lName < rName)
                    return -1;
                if (lName > rName)
                    return 1;
                return 0;
            });

            $.each(values, function(i, value){
                select.append($('<option>',{
                    value: value['id'],
                    text: value['product_name']
                }));
            });
        }

        function clearSelect(selectObject){
            selectObject.find('option').remove().end();
        }

        function populateFilter() {
            var groupVal = $('#group_selector').val();
            category_map = group_map[groupVal];
            fillSelect(Object.keys(category_map), 'category_selector');

            var categoryVal = $('#category_selector').val();
            kind_map = category_map[categoryVal];
            fillSelect(Object.keys(kind_map), 'kind_selector');

            var kindVal = $('#kind_selector').val();
            fillProductSelect((kind_map[kindVal]), 'product_selector');
        }

        function buildAlertMessage(messageList) {
            var alertMessage = '';
            for (var i in messageList) {
                alertMessage += messageList[i] + '\n';
            }
            return alertMessage;
        }

        $(document).ready(function(){
            $.ajax({
                dataType: 'json',
                method: 'GET',
                url: '{% url 'products_json_view' %}',
                data: {'product_list': 'all'},
                success: function(data){
                    group_map = jQuery.parseJSON(JSON.stringify(data));
                    fillSelect(Object.keys(group_map), 'group_selector');
                    populateFilter();
                },
                error: function(data){
                    alert('Ошибка получения данных со склада!\nОбратитесь к администратору системы!');
                }
            });

            $('#submit-but').click(function(e){
                e.preventDefault();
                $.ajax({
                    method: 'POST',
                    url: '{% url 'shipment_add' %}',
                    data: $("#shipment-add").serialize(),
                    success: function(data){
                        data = jQuery.parseJSON(JSON.stringify(data));
                        if (data['success']) {
                            window.opener.document.addProductShipment(data['id']);
                            window.close();
                        }
                        else {
                            if (data['cost_price']) {
                                alert(buildAlertMessage(data['cost_price']));
                                return;
                            }
                            if (data['product_count']) {
                                alert(buildAlertMessage(data['product_count']));
                                return;
                            }
                            alert('Ошибка добавления продукта к продаже!\nОбратитесь к администратору системы!');
                        }
                    },
                    error: function(error){
                        alert('Ошибка добавления продукта к продаже!\nОбратитесь к администратору системы!');
                    }
                });
            });

            $('#group_selector').change(function(e) {
                e.preventDefault();
                category_map = group_map[this.value];
                populateFilter();
            });

            $('#category_selector').change(function(e) {
                e.preventDefault();
                kind_map = category_map[this.value];
                fillSelect(Object.keys(kind_map), 'kind_selector');

                var kindVal = $('#kind_selector').val();
                var products = kind_map[kindVal];
                fillProductSelect(products, 'product_selector');
            });

            $('#kind_selector').change(function(e) {
                e.preventDefault();
                var products = kind_map[this.value];
                fillProductSelect(products, 'product_selector');
            });

        });
    </script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
{% if is_popup %}
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='storage' %}">{{ 'Партия товара' }}</a>
&rsaquo; <a href="/admin/storage/shipment/">Партии товара</a>
{% endif %}
</div>
{% endblock %}

{# TODO вынести реализацию фильтра в js класс общий для shipment.html productstorage.html#}
{% block content %}
<form id="shipment-add" action="{% url 'product_shipment_add' %}" method="post">
    {% csrf_token %}
    <table>
        <tbody>
            <tr>
                <td><span>Выбор товара</span></td>
                <td>
                    <select id="group_selector"></select>
                    <select id="category_selector"></select>
                    <select id="kind_selector"></select>
                    <select id="product_selector" form="shipment-add" name="product" required></select>
                </td>
            </tr>
            <tr>
                <td><span>Стоимость</span></td>
                <td><input type="number" name="cost_price"/></td>
            </tr>
            <tr>
                <td><span>Количество</span></td>
                <td>
                    <input type="number" name="product_count"/>
                </td>
            </tr>
        </tbody>
    </table>
    <p><input id="submit-but" type="submit" value="Добавить товар к приемке"/></p>
</form>
{% endblock %}
