{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript">

        var group_map = {};
        var category_map = {};
        var kind_map = {};

        var cur_filter_value = {
            'group':    null,
            'category': null,
            'kind':     null
        };

        function fillSelect(values, selectId){
            if (selectId == undefined || selectId == '')
                return;
            var select = $('#' + selectId);
            clearSelect(select);
            values.sort();
            $.each(values, function(i, v){
                select.append($('<option>',{
                    value: v,
                    text: v
                }));
            });
        }

        function fillProductSelect(values, selectId){
            if (selectId == undefined || selectId == '')
                return;
            var select = $('#' + selectId);
            clearSelect(select);

            values.sort(function(a, b){
                var lName = a['product_name'];
                var rName = b['product_name'];
                if (lName < rName)
                    return -1;
                if (lName > rName)
                    return 1;
                return 0;
            });

            $.each(values, function(i, value){
                select.append($('<option>',{
                    value: value['id'],
                    text: value['product_name']
                }));
            });
        }

        function clearSelect(selectObject){
            selectObject.find('option').remove().end();
        }

        function updateCurFilterValue()
        {
            cur_filter_value = {};
            cur_filter_value['group'] = $("#group_selector").val();
            cur_filter_value['category'] = $("#category_selector").val();
            cur_filter_value['kind'] = $('#kind_selector').val();
        }

        function populateFilter() {
            var groupVal = $('#group_selector').val();
            category_map = group_map[groupVal];
            fillSelect(Object.keys(category_map), 'category_selector');

            var categoryVal = $('#category_selector').val();
            kind_map = category_map[categoryVal];
            fillSelect(Object.keys(kind_map), 'kind_selector');

            var kindVal = $('#kind_selector').val();
            fillProductSelect((kind_map[kindVal]), 'product_selector');
        }

        function buildAlertMessage(messageList) {
            var alertMessage = '';
            for (var i in messageList) {
                alertMessage += messageList[i] + '\n';
            }
            return alertMessage;
        }

        function initInvoiceShipments()
        {
            showPreLoader();
            updateCurFilterValue();
             $.ajax({
                dataType: 'json',
                method: 'GET',
                url: '{% url 'product_json_view' %}',
                data: {'product_list': 'all'},
                success: function(data){
                    hidePreLoader();
                    group_map = jQuery.parseJSON(JSON.stringify(data));
                    fillSelect(Object.keys(group_map), 'group_selector');

                    if (cur_filter_value && cur_filter_value['group'])
                        $('#group_selector').val(cur_filter_value['group']).change();
                    else
                    {
                        cur_filter_value = null;
                        populateFilter();
                        return;
                    }
                    if (cur_filter_value['category'])
                        $('#category_selector').val(cur_filter_value['category']).change();
                    if (cur_filter_value['kind'])
                        $('#kind_selector').val(cur_filter_value['kind']).change();
                    cur_filter_value = null;
                },
                error: function(data){
                    hidePreLoader();
                    alert('Ошибка получения данных со склада!\nОбратитесь к администратору системы!');
                }
            });
        }

        $(document).ready(function(){
            initInvoiceShipments();

            $("#update_products").click(function(e){
                e.preventDefault();
                initInvoiceShipments();
            });

            $('#shipment-add').click(function(e){
                e.preventDefault();
                showPreLoader();
                $.ajax({
                    method: 'POST',
                    url: '{% url 'shipment_add' %}',
                    data: $("#shipment-add-form").serialize(),
                    success: function(data){
                        hidePreLoader();
                        data = jQuery.parseJSON(JSON.stringify(data));
                        if (data['success']) {
                            addProductShipment(data['shipment']);
                        }
                        else
                        {
                            if (data['cost_price']) {
                                alert(buildAlertMessage(data['cost_price']));
                                return;
                            }
                            if (data['product_count']) {
                                alert(buildAlertMessage(data['product_count']));
                                return;
                            }
                            alert('Ошибка добавления продукта к продаже!\nОбратитесь к администратору системы!');
                        }
                    },
                    error: function(error){
                        hidePreLoader();
                        alert('Ошибка добавления продукта к продаже!\nОбратитесь к администратору системы!');
                    }
                });
            });

            $('#group_selector').change(function(e) {
                e.preventDefault();
                populateFilter();
            });

            $('#category_selector').change(function(e) {
                e.preventDefault();
                kind_map = category_map[this.value];
                fillSelect(Object.keys(kind_map), 'kind_selector');

                var kindVal = $('#kind_selector').val();
                var products = kind_map[kindVal];
                fillProductSelect(products, 'product_selector');
            });

            $('#kind_selector').change(function(e) {
                e.preventDefault();
                var products = kind_map[this.value];
                fillProductSelect(products, 'product_selector');
            });

        });

        ////////////////////////////////////////////////////////////////////////////////////////////////

        var shipments_list = {};

        var shipmentRowPref = 'shipmentRow_';
        var shipmentButRemovePref = 'shipmentButRemove_';

        var TOTAL_AMOUNT_INC_TYPE = 0;
        var TOTAL_AMOUNT_DEC_TYPE = 1;

        $(document).ready(function() {

            $('#invoice-cancel').click(function(e){
                e.preventDefault();
                window.location = "/admin/storage/invoice/";
            });

            $('#invoice-add').click(function(e){
                e.preventDefault();
                normalizeFkInput('shipments');
                if (validateInvoiceForm())
                {
                    showPreLoader();
                    $.ajax({
                        method: 'POST',
                        url: '{% url 'invoice_add' %}',
                        data: $("#invoice-form").serialize(),
                        success: function(data){
                            hidePreLoader();
                            data = jQuery.parseJSON(JSON.stringify(data));
                            if (data['success']) {
                                window.location = '/admin/storage/invoice/';
                            }
                            else {
                                if (data['overhead']) {
                                    alert(buildAlertMessage(data['overhead']));
                                    return;
                                }
                                if (data['shipments']) {
                                    alert(buildAlertMessage(data['shipments']));
                                    return;
                                }
                                alert('Ошибка добавления приемки!\nВнимательно проверьте поля!');
                            }
                        },
                        error: function(error){
                            hidePreLoader();
                            alert('Ошибка добавления приемки!\nОбратитесь к администратору системы!');
                        }
                    });
                }
            });

        });

        function validateInvoiceForm() {
            if ($("input[name='overhead']").val() == "") {
                alert("Заполните поле Издержки!");
                return false;
            }
            return true;
        }

        function normalizeFkInput(inputName)
        {
            var inputObj = $('input[name=' + inputName + ']');
            var val = inputObj.val();
            if (val.substr(-1) == ',')
                inputObj.val(val.slice(0, -1));
        }

        function fillTableTd(data){
            return $('<td>', {
                text: data
            });
        }

        function buildRemoveShipmentBut(shipmentId){
            return $('<button>', {
                text: '-',
                id: shipmentButRemovePref + shipmentId,
                on: {
                    click: function(e){
                        e.preventDefault();
                        showPreLoader();
                        $.ajax({
                            url: '{% url 'shipment_delete' %}',
                            type: 'POST',
                            dataType: 'json',
                            data: {'id': shipmentId},
                            success: function(data)
                            {
                                hidePreLoader();
                                data = jQuery.parseJSON(JSON.stringify(data));
                                if (data['success']){
                                    $('#' + shipmentRowPref + shipmentId).remove();
                                    var shipments = getShipments();
                                    var values = shipments.val();
                                    shipments.val(values.replace(shipmentId + ',', ''));

                                    updateTotalAmount(shipmentId, TOTAL_AMOUNT_DEC_TYPE);
                                    shipments_list[shipmentId] = undefined;
                                }
                                else {
                                    alert('Ошибка при удалении товара из списка приемки!');
                                }
                            },
                            error: function(data)
                            {
                                hidePreLoader();
                                alert('Ошибка при удалении товара из списка приемки!');
                            }
                        })
                    }
                }
            });
        }

        function addNewShipmentRow(shipment) {
            var productCost = parseFloat(shipment['product_count'] * shipment['cost_price']);
            var row = $('<tr>', {id: shipmentRowPref + shipment['id']}).append(
                    fillTableTd().append(buildRemoveShipmentBut(shipment['id'])),
                    fillTableTd(shipment['product_group']),
                    fillTableTd(shipment['product_category']),
                    fillTableTd(shipment['product_kind']),
                    fillTableTd(shipment['product_name']),
                    fillTableTd(shipment['product_count']),
                    fillTableTd(shipment['cost_price']),
                    fillTableTd(productCost)
            );
            row.insertBefore($('#invoices-data').find('tr:last'));
        }

        function getShipments()
        {
            return $('input[name="shipments"]');
        }

        function updateShipments(id) {
            var shipments = getShipments();
            var shipmentsVal = shipments.val();
            shipments.val(shipmentsVal + id + ',');
        }

        function updateTotalAmount(shipmentId, updateType) {
            var shipment = shipments_list[shipmentId];
            var amount = parseFloat(shipment['product_count'] * shipment['cost_price'])
            var totalAmount = $('#total_amount');
            var totalAmountVal = parseFloat(totalAmount.text());

            if (TOTAL_AMOUNT_INC_TYPE == updateType)
                totalAmount.text(totalAmountVal + amount);
            else
                totalAmount.text(totalAmountVal - amount);
        }

        function addProductShipment(shipmentData) {
            shipments_list[shipmentData['id']] = shipmentData;
            addNewShipmentRow(shipmentData);
            updateShipments(shipmentData['id']);
            updateTotalAmount(shipmentData['id'], TOTAL_AMOUNT_INC_TYPE);
        }

    </script>

{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='storage' %}">{{ 'Склад' }}</a>
&rsaquo; <a href="/admin/storage/invoice/">Приемка товара</a>
&rsaquo; {% trans 'Add' %} {{ 'проемку товара' }}
</div>
{% endblock %}

{% block content %}
<form id="shipment-add-form" action="{% url 'product_shipment_add' %}" method="post">
    {% csrf_token %}
    <table>
        <tbody>
            <tr>
                <td><span>Выбор товара</span></td>
                <td>
                    <select id="group_selector"></select>
                    <select id="category_selector"></select>
                    <select id="kind_selector"></select>
                    <select id="product_selector" form="shipment-add-form" name="product" required></select>
                    <input id="update_products" type="button" value="обновить">
                </td>
            </tr>
            <tr>
                <td><span>Стоимость</span></td>
                <td><input type="number" name="cost_price"/></td>
            </tr>
            <tr>
                <td><span>Количество</span></td>
                <td>
                    <input type="number" name="product_count"/>
                </td>
            </tr>
        </tbody>
    </table>
    <p><input id="shipment-add" type="submit" value="Добавить товар к приемке"/></p>
</form>

<form id="invoice-form" action="{% url 'invoice_add' %}" method="post">
    {% csrf_token %}
    <div>
        <table id="invoices-data">
            <caption>Приемка товара</caption>
            <thead>
                <th></th>
                <th>Группа</th>
                <th>Категория</th>
                <th>Вид</th>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Цена(за 1 шт)</th>
                <th>Сумма</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Итого</td>
                    <td><span id="total_amount">0</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <input name="shipments" type="hidden">
    <table>
        <tbody>
            <tr>
                <td>Поставщик</td>
                <td>
                    <select name="product_provider" form="invoice-form" required>
                        {% for provider in providers %}
                            <option value="{{ provider.id }}">{{ provider.provider_name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Издержки</td>
                <td><input name="overhead" type="number" step="100" min="1"></td>
            </tr>
        </tbody>
    </table>
    
    <input id="invoice-cancel" type="button" value="Отменить приемку">
    <input id="invoice-add" type="submit" value="Оформить приемку">
</form>

{% endblock %}