{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrahead %}
    {{ block.super }}
     <script type="text/javascript">
        $(document).ready(function() {

            $("#import_but").click(function (e) {
                e.preventDefault();
                showPreLoader();
                $("#import_form").submit();
            });
        });
    </script>

{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='storage' %}">{{ 'Склад' }}</a>
&rsaquo; <a href="/admin/storage/invoice/">Приемка товара</a>
&rsaquo; {{ 'Загрузка остатков' }}
</div>
{% endblock %}

{% block content %}
    <h1>Форма загрузки остатков товара на склад</h1>
    <span>Структура файла</span>
    <ul>
        <li>Первая строка файла игнорируется (содержит шапку)</li>
        <li>
            <span>Для успешной загрузки строки файла должны содержать следующую информацию</span>
            <ul>
                <li>Группа товара</li>
                <li>Категория товара</li>
                <li>Вид товара</li>
                <li>Наименование товара</li>
                <li>Код товара</li>
                <li>Цена закупки</li>
                <li>Розница</li>
                <li>Дисконт</li>
                <li>Заведение</li>
                <li>Оптом</li>
                <li>На складе</li>
                <li>Минимальное количество</li>
            </ul>
        </li>
        <li>Поддерживаемые форматы *.xls,*.xlsx</li>
    </ul>
    <form id="import_form" method="post" action="{% url 'product_import' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Выберете файл для загрузки остатков</label>
        <input name="file" type="file">
        <p><input id="import_but" type="submit" value="Загрузить"></p>
    </form>

{% endblock %}