{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='storage' %}">{{ 'Склад' }}</a>
&rsaquo; <a href="/admin/storage/invoice/">Приемка товара</a>
&rsaquo; {{ 'Отчет по приемке товара' }}
</div>
{% endblock %}

{% block content %}
    <span>Фильтр</span>
    <ul>
        <li><a href="{% url 'invoice_buy_report' %}?period_type=day">За текущий день</a></li>
        <li><a href="{% url 'invoice_buy_report' %}?period_type=month">За текущий месяц</a></li>
        <li>
            <form action="{% url 'invoice_buy_report' %}" id="form_period" method="get">
                <span>За период с </span><input name="period_start" type="date" required pattern="\d{1,2}.\d{1,2}.\d{4}"/>
                по <input name="period_end" type="date" required pattern="\d{1,2}.\d{1,2}.\d{4}"/>
                <input hidden name="period_type" value="period">
                <input type="submit">
            </form>
        </li>
    </ul>
    </h1>
    <h1>{{ report }}</h1>
    <table id="invoices-report">
        <caption>Приемки</caption>
        <thead>
            <th>№</th>
            <th>Дата приемки</th>
            <th>Сумма закупки</th>
            <th>Издержки</th>
            <th>Поставщик</th>
        </thead>
        <tbody>
            {% for invoice in report.invoices %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'invoice_view' invoice.id %}">{{ invoice.get_formatted_date }}</a></td>
                <td>{{ invoice.get_total_amount }}</td>
                <td>{{ invoice.overhead }}</td>
                <td>{{ invoice.product_provider.provider_name }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><b>Итого</b></td>
                <td><b>{{ report.amount }}</b></td>
                <td><b>{{ report.overhead }}</b></td>
            </tr>
        </tbody>
    </table>

    <input type="button" value="Назад" onclick="window.location='/admin/storage/invoice/';">

{% endblock %}