{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='storage' %}">{{ 'Склад' }}</a>
&rsaquo; <a href="/admin/storage/invoice/">Приемка товара</a>
&rsaquo; {{ 'Просмотр проемки товара' }}
</div>
{% endblock %}

{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript">

        $(document).ready(function() {
            $('#invoice-delete-but').click(function(e) {
                e.preventDefault();
                if (confirm("Подтвердите отмену приемки!"))
                {
                    $("#invoice-delete-form").submit();
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <form action="{% url 'invoice_view' invoice.id %}" method="post" id="invoice-update-form">
    {% csrf_token %}
        <table id="invoices-data">
            <caption>{{ invoice }}</caption>
            <thead>
                <th>№</th>
                <th>Группа</th>
                <th>Категория</th>
                <th>Вид</th>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Цена(за 1 шт)</th>
                <th>Сумма</th>
            </thead>
            <tbody>
            {% for shipment in invoice_shipments %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ shipment.product.product_kind.product_category.product_group.group_name }}</td>
                    <td>{{ shipment.product.product_kind.product_category.category_name }}</td>
                    <td>{{ shipment.product.product_kind.kind_name }}</td>
                    <td>{{ shipment.product.product_name }}</td>
                    <td>{{ shipment.product_count }}</td>
                    <td>{{ shipment.cost_price }}</td>
                    <td>{{ shipment.get_shipment_amount }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td></td>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Итого</td>
                    <td><b>{{ invoice.get_total_amount }}</b></td>
                </tr>
            </tbody>
            </table>

        <table>
            <tbody>
                <tr>
                    <td>Поставщик</td>
                    <td><b>{{ invoice.product_provider }}</b></td>
                </tr>
                <tr>
                    <td>Издержки</td>
                    {% if invoice.status == invoice_status.1.0 %}
                        <td><b>{{ invoice.overhead }}</b></td>
                    {% else %}
                    {% if form.overhead.errors %}{{ form.overhead.errors }} {% endif %}
                        <td><input name="overhead" type="number" value="{{ invoice.overhead }}"></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Принял</td>
                    <td><b>{{ invoice.owner }}</b></td>
                </tr>
                <tr>
                    <td>Статус приемки</td>
                    <td>
                        {% if invoice.status == invoice_status.1.0 %}
                            <b>{{ invoice.get_status_display }}</b>
                        {% else %}
                        <select name="status" form="invoice-update-form" required>
                            {% for status in invoice_status %}
                                <option value="{{ status.0 }}" {% if invoice.status == status.0 %} selected {% endif %}>{{ status.1 }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Обновить время продажи</td>
                    <td>
                        {% if form.invoice_date.errors %}{{ form.invoice_date.errors }} {% endif %}
                        <input type="datetime-local" name="invoice_date">
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="button" value="Назад" onclick="window.location='/admin/storage/invoice/';">
        <input type="submit" value="Обновить">
    </form>

    {% if invoice.status == invoice_status.0.0 %}
    <form action="{% url 'invoice_delete' invoice.id %}" method="post" id="invoice-delete-form">
        {% csrf_token %}
        <input id="invoice-delete-but" type="submit" form="invoice-delete-form" value="Отменить">
    </form>
    {% endif %}

{% endblock %}