{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrahead %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='ext_user' %}">{{ 'Пользователь' }}</a>
&rsaquo; <a href="/admin/ext_user/extuser/">Пользователи</a>
&rsaquo; {{ 'Отчет работника по продажам' }}
</div>
{% endblock %}

{% block content %}
    {% if report.is_admin %}
        <h1>Для администратора не возможен расчет продаж!</h1>
    {% else %}
    <h1>
        <span>Фильтр</span>
        <ul>
            <li><a href="{% url 'product_sell_employer_report_view' pk=employer_id %}?period_type=day">За текущий день</a></li>
            <li><a href="{% url 'product_sell_employer_report_view' pk=employer_id %}?period_type=month">За текущий месяц</a></li>
            <li>
                <form action="{% url 'product_sell_employer_report_view' pk=employer_id %}" id="form_period" method="get">
                    <span>За период с </span><input name="period_start" type="date" required pattern="\d{1,2}.\d{1,2}.\d{4}"/>
                    по <input name="period_end" type="date" required pattern="\d{1,2}.\d{1,2}.\d{4}"/>
                    <input hidden name="period_type" value="period">
                    <input type="submit">
                </form>
            </li>
        </ul>
    </h1>
    <h1>Просмотр отчета работника за период по продажам товара</h1>
    <ul>
        <li><b>Продавец - {{ report.user }}</b></li>
        <li><b>{{ report }}</b></li>
        <li><b>Ставка за 1 час работы - {{ report.money_per_hour }}</b></li>
        <li><b>Процент от каждой продажи - {{ report.percent_per_sale }}</b></li>
    </ul>
    <table id="product-sell-report">
        <caption>Список продаж</caption>
        <thead>
            <th>№</th>
            <th>Дата продажи</th>
            <th>Сумма продажи</th>
            <th>Процент продавцу</th>
        </thead>
        <tbody>
            {% for sell_report in report.product_sells %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'product_sell_view' sell_report.product_sell.id %}">{{ sell_report.product_sell.get_verbose_sell_date }}</a></td>
                <td>{{ sell_report.product_sell.get_sell_amount }}</td>
                <td>{{ sell_report.get_sell_employer_amount }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td><b>Итого</b></td>
                <td><b>{{ report.total_employer_percent_amount|round_number:"2" }}</b></td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    </br>
    <table id="work-session-report">
        <caption>Список рабочих сессий</caption>
        <thead>
            <th>№</th>
            <th>Начало</th>
            <th>Конец</th>
            <th>Статус</th>
            <th>Отработано(часов)</th>
            <th>Сумма</th>
        </thead>
        <tbody>
            {% for work_session in report.work_sessions %}
                <td>{{ forloop.counter }}</td>
                <td><a href="/admin/ext_user/worksession/{{ work_session.session.id }}/change/">{{ work_session.session.start_workday|format_date:"" }}</a></td>
                <td>{{ work_session.session.end_workday|format_date:"" }}</td>
                <td>{{ work_session.session.get_session_status_display }}</td>
                <td>{{ work_session.session.get_work_hours }}</td>
                <td>{{ work_session.get_work_session_amount }}</td>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Итого</b></td>
                <td><b>{{ report.total_employer_work_time_amount|round_number:"2" }}</b></td>
            </tr>
        </tbody>
    </table>
    </br><div><b>Всего за период {{ report.total_amount|round_number:"2" }}</b></div></br>

    <input type="button" value="Назад" onclick="window.location='/admin/ext_user/extuser/';">

{% endblock %}