{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrahead %}
    {{ block.super }}
    <style>
        .filter-row {
            display: table;
            {#width: 100%; /*Optional*/#}
            table-layout: fixed; /*Optional*/
            border-spacing: 10px; /*Optional*/
        }
        .filter-column {
            display: table-cell;
            padding-left: 20px;
        }
    </style>


    <script type="text/javascript">

        // фильтр товаров

        var kindRowPref = "kindRowPref_";

        var group_map = {};
        var category_map = {};
        var kinds_to_export = [];

        function fillSelect(values, selectId){
            if (selectId === undefined || selectId === '')
                return;
            var select = $('#' + selectId);
            clearSelect(select);
            values.sort();
            $.each(values, function(i, v){
                select.append($('<option>',{
                    value: v,
                    text: v
                }));
            });
        }

        function fillKindSelect(values, selectId) {
            if (selectId == undefined || selectId == '')
                return;
            var select = $('#' + selectId);
            clearSelect(select);

            values.sort(function(a, b){
                var lName = a['kind_name'];
                var rName = b['kind_name'];
                if (lName < rName)
                    return -1;
                if (lName > rName)
                    return 1;
                return 0;
            });

            $.each(values, function(i, value){
                select.append($('<option>',{
                    value: value['id'],
                    text: value['kind_name']
                }));
            });
        }

        function clearSelect(selectObject) {
            selectObject.find('option').remove().end();
        }

        function populateFilter() {
            var groupVal = $('#group_selector').val();
            category_map = group_map[groupVal];
            fillSelect(Object.keys(category_map), 'category_selector')

            var categoryVal = $('#category_selector').val();
            fillKindSelect(category_map[categoryVal], 'kind_selector');
        }

        function initProductStorage() {
            showPreLoader();
             $.ajax({
                dataType: 'json',
                method: 'GET',
                url: '{% url 'product_json_view' %}',
                data: {'product_list': "revise" },
                success: function(data){
                    hidePreLoader();
                    group_map = jQuery.parseJSON(JSON.stringify(data));
                    fillSelect(Object.keys(group_map), 'group_selector');
                    populateFilter();
                },
                error: function(data){
                    hidePreLoader();
                    alert('Ошибка получения данных со склада!\nОбратитесь к администратору системы!');
                }
            });
        }

        function addKindToExport(kind) {
            if ($.inArray(kind['id'], kinds_to_export) === -1) {
                addKindRow(kind);
                kinds_to_export.push(kind['id']);
            }
        }

        function fillTableTd(data) {
            return $('<td>', {
                text: data
            });
        }

        function buildRemoveProductBut(kindId) {
            return $('<button>', {
                text: '-',
                on: {
                    click: function(e){
                        e.preventDefault();
                        kinds_to_export = $.grep(kinds_to_export, function(value) {
                            return value != kindId;
                        });
                        $('#' + kindRowPref + kindId).remove();
                    }
                }
            });
        }

        function addKindRow(kind) {
            var row = $('<tr>', {id: kindRowPref + kind['id']}).append(
                    fillTableTd().append(buildRemoveProductBut(kind['id'])),
                    fillTableTd(kind['group']),
                    fillTableTd(kind['category']),
                    fillTableTd(kind['kind_name'])
            );
            row.insertBefore($('#kind-storage-data').find('tr:last'));
        }

        function getCurKind() {
            var kinds = category_map[$('#category_selector').val()];
            var kindId = $('#kind_selector').val();
            var curKind = {};
            $.each(kinds, function(i, value){
                if (value['id'] == kindId) {
                    curKind = value;
                }
            });

            return curKind;
        }

        $(document).ready(function() {
            // фильтр товаров
            initProductStorage();

            $('#kind-add').click(function(e){
                e.preventDefault();
                addKindToExport(getCurKind());
            });

            $('#category-add').click(function(e){
                e.preventDefault();
                var kinds = category_map[$('#category_selector').val()];
                $.each(kinds, function(i, value){
                    addKindToExport(value);
                });
            });

            $('#group_selector').change(function(e) {
                e.preventDefault();
                category_map = group_map[this.value];
                populateFilter();
            });

            $('#category_selector').change(function(e) {
                e.preventDefault();
                fillKindSelect(category_map[this.value], 'kind_selector');
            });
        });

        // покупатели
        // фильтр
        var customerTypeIdCustomerListMap = {};

        function initCustomerSelector() {
            var customerList = [];
            {% for customer_type_id, customers in customer_type_map_list.items %}
                {% for customer in customers %}
                    customerList.push({
                        'id': {{ customer.id }},
                        'name': '{{ customer.name }}'
                    });
                {% endfor %}
                customerTypeIdCustomerListMap[{{ customer_type_id }}] = customerList;
                customerList = [];
            {% endfor %}

            var customerTypeSelect = $('#customer_type_selector');
            {% for customer_type in customer_types %}
                customerTypeSelect.append($('<option>',{
                    value: {{ customer_type.id }},
                    text: '{{ customer_type.type_name }}'
                }));
            {% endfor %}

            var customerTypeSelector = $('#customer_type_selector');
            var customerSelect = $('#customer_selector');
            customerTypeSelector.change(function(e) {
                e.preventDefault();
                var selectedCustomerType = this.value;
                var customers = customerTypeIdCustomerListMap[selectedCustomerType];
                customerSelect.empty();
                $.each(customers, function(i, value) {
                        customerSelect.append($('<option>', {
                        value: value['id'],
                        text: value['name']
                    }));
                });
                customerSelect.change();
            });

            customerSelect.change(function (e) {
                e.preventDefault();
                $('input[name="customer_id"]').val(this.value);
            });
        }

        // наполнение покупателей
        var customers_to_export = [];
        var customerRowPref = "customerRowPref_";

        function addCustomerToExport(customer) {
            if ($.inArray(parseInt(customer['id']), customers_to_export) === -1) {
                addCustomerRow(customer);
                customers_to_export.push(parseInt(customer['id']));
            }
        }

        function buildRemoveCustomerBut(customerId) {
            return $('<button>', {
                text: '-',
                on: {
                    click: function(e){
                        e.preventDefault();
                        customers_to_export = $.grep(customers_to_export, function(value) {
                            return value !== customerId;
                        });
                        $('#' + customerRowPref + customerId).remove();
                    }
                }
            });
        }

        function addCustomerRow(customer) {
            var row = $('<tr>', {id: customerRowPref + customer['id']}).append(
                    fillTableTd().append(buildRemoveCustomerBut(customer['id'])),
                    fillTableTd(customer['customerTypeName']),
                    fillTableTd(customer['name'])
            );
            row.insertBefore($('#customer-data').find('tr:last'));
        }

        function getCurCustomer() {
            var customerId = $('#customer_selector').val();
            if (!customerId) {
                return undefined;
            }
            var customerName = $('#customer_selector option:selected').text();
            var customerTypeName = getCurCustomerType()['name'];

            var curCustomer = {};
            curCustomer['id'] = customerId;
            curCustomer['name'] = customerName;
            curCustomer['customerTypeName'] = customerTypeName;

            return curCustomer;
        }

         function getCurCustomerType() {
            var customerTypeId = $('#customer_type_selector').val();
            if (!customerTypeId) {
                return undefined;
            }
            var customerTypeName = $('#customer_type_selector  option:selected').text();

            var curCustomerType = {};
            curCustomerType['id'] = customerTypeId;
            curCustomerType['name'] = customerTypeName;

            return curCustomerType;
        }

        $(document).ready(function() {
            // покупатели
            // фильтр
            initCustomerSelector();
            // наполнение
            $('#customer-add').click(function(e) {
                e.preventDefault();
                var curCustomer = getCurCustomer();
                if (curCustomer === undefined) {
                    alert('Выберите покупателя для добавления!');
                    return
                }

                addCustomerToExport(curCustomer);
            });
            $('#customer-type-add').click(function(e) {
                e.preventDefault();
                var customersByType = customerTypeIdCustomerListMap[$('#customer_type_selector').val()];
                var curCustomerType = getCurCustomerType();
                if (curCustomerType === undefined) {
                    alert('Выберите тип покупателя для добавления!');
                    return;
                }

                $.each(customersByType, function(i, value) {
                    value['customerTypeName'] = curCustomerType['name'];
                    addCustomerToExport(value);
                });
            });
        });

        $(document).ready(function() {

            function validateFilterInput() {
                var periodType = $('input[name="period_type"]:checked').val();
                if (periodType === 'period') {
                    var periodStart = $('input[name="period_start"]').val();
                    var periodEnd = $('input[name="period_end"]').val();
                    if (!periodStart || !periodEnd) {
                        alert('Пожалуйста укажите период для выгрузки!');
                        return false;
                    }
                }

                return true;
            }

            // запрос отчета
            function getExportWithQueryStringURL() {
                var url = '{% url 'product_sell_report_customer_view' %}';
                var queryString = '?';

                var periodType = $('input[name="period_type"]:checked').val();
                queryString += 'period_type=' + periodType;
                if (periodType === 'period') {
                    var periodStart = $('input[name="period_start"]').val();
                    var periodEnd = $('input[name="period_end"]').val();
                    queryString += '&period_start=' + periodStart;
                    queryString += '&period_end=' + periodEnd;
                }

                if (kinds_to_export.length > 0) {
                    queryString += '&productKindIds=' + kinds_to_export.join(",");
                }
                if (customers_to_export.length > 0) {
                    queryString += '&customerIds=' + customers_to_export.join(",");
                }

                return url + queryString;
            }

            $("#export-do-web").click(function(e) {
                e.preventDefault();
                if (validateFilterInput()) {
                    showPreLoader();
                    window.location = getExportWithQueryStringURL();
                }
            });

             $("#export-do-excel").click(function(e) {
                e.preventDefault();
                if (validateFilterInput()) {
                    alert('В разработке =)');
                }
            });

        });

        $(document).ready(function() {

            $("[class^='customer_']").each(function() {

                $(this).hover(function() {
                    $(this).css('cursor','pointer');
                });

                $(this).on("click", function(e) {
                    e.preventDefault();
                    var element = $(".customer_info_" + $(this).attr("id"));
                    var visible = $(element).css("display");
                    if (visible == "none") {
                        $(element).show();
                        $(this).css('background-color', 'lightgreen');
                    }
                    else {
                        $(element).hide();
                        $(this).css('background-color', 'white');
                    }
               });
            });

            $("[class^='group_']").each(function() {

                $(this).hover(function() {
                    $(this).css('cursor','pointer');
                });

                $(this).on("click", function(e) {
                    e.preventDefault();
                    var element = $(".group_info_" + $(this).attr("id"));
                    var visible = $(element).css("display");
                    if (visible == "none") {
                        $(element).show();
                        $(this).css('background-color', 'lightgreen');
                    }
                    else {
                        $(element).hide();
                        $(this).css('background-color', 'white');
                    }
               });
            });

            $("[class^='category_']").each(function() {

                $(this).hover(function() {
                    $(this).css('cursor','pointer');
                });

                $(this).on("click", function(e) {
                    e.preventDefault();
                    var element = $(".category_info_" + $(this).attr("id"));
                    var visible = $(element).css("display");
                    if (visible == "none") {
                        $(element).show();
                        $(this).css('background-color', 'lightgreen');
                    }
                    else {
                        $(element).hide();
                        $(this).css('background-color', 'white');
                    }
               });
            });

            $("[class^='kind_']").each(function() {

                $(this).hover(function() {
                    $(this).css('cursor','pointer');
                });

                $(this).on("click", function(e) {
                    e.preventDefault();
                    var element = $(".kind_info_" + $(this).attr("id"));
                    var visible = $(element).css("display");
                    if (visible == "none") {
                        $(element).show();
                        $(this).css('background-color', 'lightgreen');
                    }
                    else {
                        $(element).hide();
                        $(this).css('background-color', 'white');
                    }
               });
            });

        });
    </script>

{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="/admin/cashbox/productsell/">Продажи</a>
&rsaquo; {{ 'Отчет по покупателям' }}
</div>
{% endblock %}

{% block content %}
    <h1>Выберите виды товаров, покупателей и период для построения отчета</h1>
    <h3>Крайне не рекомендуется выбирать большой временной интервал и построение без конкретных покупателей и товаров</h3>

    <br>
    <div class="filter-row">

        <div class="filter-column">
            <div>
                <table>
                    <caption>Покупатели к выгрузке</caption>
                    <thead>
                        <th>Тип покупателя</th>
                        <th>Покупатель</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><select id="customer_type_selector">
                                <option disabled selected>Выберите тип покупателя</option>
                                </select>
                            </td>
                            <td><select id="customer_selector"></select></td>
                        </tr>
                    </tbody>
                </table>
                <input id="customer-type-add" type="button" value="Добавить тип покупателя"/>
                <input id="customer-add" type="button" value="Добавить покупателя"/>
            </div>

            <br>
            <div>
                <table id="customer-data">
                    <caption>Выбранные покупатели(по умолчанию все)</caption>
                    <thead>
                        <th></th>
                        <th>Тип покупателя</th>
                        <th>Покупатель</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="filter-column">
            <div>
                <div>
                    <table>
                        <caption>Товары к выгрузке</caption>
                        <thead>
                            <th>Группа</th>
                            <th>Категория</th>
                            <th>Вид</th>
                        </thead>
                        <tbody>
                            <tr>
                                <tr>
                                    <td><select id="group_selector"></select></td>
                                    <td><select id="category_selector"></select></td>
                                    <td><select id="kind_selector"></select></td>
                                </tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <input id="category-add" type="button" value="Добавить категорию"/>
                <input id="kind-add" type="button" value="Добавить вид"/>
            </div>

            <br>
            <div>
                <table id="kind-storage-data">
                    <caption>Выбранные товары</caption>
                    <thead>
                        <th></th>
                        <th>Группа</th>
                        <th>Категория</th>
                        <th>Вид</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="filter-column">

            <div>
                <table>
                    <caption>Период к выгрузке(по умолчанию текуший день)</caption>
                    <thead>
                        <th></th>
                        <th>Период</th>
                        <th>Значение</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th><input type="radio" name="period_type" value="day" checked></th>
                            <td>Текущий день</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th><input type="radio" name="period_type" value="month"></th>
                            <td>Текущий месяц</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th><input type="radio" name="period_type" value="period"></th>
                            <td>Ввести вручную</td>
                            <td>
                                <span>с </span><input name="period_start" type="date" required pattern="\d{1,2}.\d{1,2}.\d{4}"/>
                                по <input name="period_end" type="date" required pattern="\d{1,2}.\d{1,2}.\d{4}"/>
                                <input hidden name="period_type" value="period">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <br>
            <br>
            <div class="user-actions">
                <div>
                    <input id="export-do-web" type="button" value="Построить отчет">
                    <input id="export-do-excel" type="button" value="Выгрузить отчет">
                </div>
            </div>

        </div>

    </div>

    <br>
    <br>
    {#     сам отчет #}
    <h1>{{ report }}</h1>
    <table>
        <thead>
            <th>№</th>
            <th>Покупатель</th>
            <th>Общая сумма продаж(руб.)</th>
            <th>Прибыль(руб.)</th>
            <th>Прибыль(%)</th>
            <th>Сумма скидки(руб.)</th>
        </thead>
        <tbody>
            {% for key, customer_aggr in report.customers_aggr.items %}
            <tr class="customer_{{ forloop.counter }}" id="{{ forloop.counter }}">
                <td>{{ forloop.counter }}</td>
                <td>{{ key }}</td>
                <td>{{ customer_aggr.profit_report.total_cost_amount|round_number:'2' }}</td>
                <td>{{ customer_aggr.profit_report.total_profit_amount|round_number:'2' }}</td>
                <td>{{ customer_aggr.profit_report.total_percent|round_number:'2' }}</td>
                <td>{{ customer_aggr.profit_report.total_rebate_amount|round_number:'2' }}</td>
            </tr>
            <tr class="customer_info_{{ forloop.counter }}" id="customer_info_{{ forloop.counter }}" style="display: none;">
                <td></td>
                <td>
                    <table>
                        <thead>
                            <th>№</th>
                            <th>Группа</th>
                            <th>Общая сумма продаж(руб.)</th>
                            <th>Прибыль(руб.)</th>
                            <th>Прибыль(%)</th>
                            <th>Сумма скидки(руб.)</th>
                        </thead>
                        <tbody>
                            {% for key, group_aggr in customer_aggr.profit_report.groups_aggr.items %}
                            <tr class="group_{{ forloop.counter }}" id="{{ forloop.counter }}">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ key }}</td>
                                <td>{{ group_aggr.sell_cost }}</td>
                                <td>{{ group_aggr.profit_cost }}</td>
                                <td>{{ group_aggr.profit_percent|round_number:'2' }}</td>
                                <td></td>
                            </tr>
                            <tr class="group_info_{{ forloop.counter }}" style="display: none;">
                                <td></td>
                                <td>
                                    <table>
                                        <thead>
                                            <th>№</th>
                                            <th>Категория</th>
                                            <th>Общая сумма продаж(руб.)</th>
                                            <th>Прибыль(руб.)</th>
                                        </thead>
                                        <tbody>
                                            {% for category_aggr in group_aggr.categories_aggr %}
                                            {% random_hex as random_category_id %}
                                            <tr class="category_{{ forloop.counter }}" id="{{ random_category_id }}">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ category_aggr.category.category_name }}</td>
                                                <td>{{ category_aggr.sell_cost }}</td>
                                                <td>{{ category_aggr.profit_cost }}</td>
                                            </tr>
                                            <tr class="category_info_{{ random_category_id }}" style="display: none;">
                                                <td></td>
                                                <td>
                                                    <table>
                                                        <thead>
                                                            <th>№</th>
                                                            <th>Вид</th>
                                                            <th>Количество</th>
                                                            <th>Общая сумма продаж(руб.)</th>
                                                            <th>Общая сумма по себестоимости(руб.)</th>
                                                            <th>Прибыль(руб.)</th>
                                                            <th>Средняя цена за 1 шт(руб.)</th>
                                                        </thead>
                                                        <tbody>
                                                            {% for kind_aggr in category_aggr.kinds_aggr %}
                                                                {% random_hex as random_kind_id  %}
                                                                <tr class="kind_{{ forloop.counter }}" id="{{ random_kind_id }}">
                                                                    <td>{{ forloop.counter }}</td>
                                                                    <td>{{ kind_aggr.kind.kind_name }}</td>
                                                                    <td>{{ kind_aggr.count }}</td>
                                                                    <td>{{ kind_aggr.sell_cost|round_number:'2' }}</td>
                                                                    <td>{{ kind_aggr.product_cost|round_number:'2' }}</td>
                                                                    <td>{{ kind_aggr.get_profit_amount|round_number:'2' }}</td>
                                                                    <td>{{ kind_aggr.get_average_sell_cost|round_number:'2' }}</td>
                                                                </tr>
                                                                <tr class="kind_info_{{ random_kind_id }}" style="display: none;">
                                                                    <td></td>
                                                                    <td>
                                                                        <table>
                                                                            <thead>
                                                                                <th>№</th>
                                                                                <th>Товар</th>
                                                                                <th>Кол.</th>
                                                                                <th>Сумма продаж</th>
                                                                                <th>Сумма по себестоимости</th>
                                                                                <th>Прибыль</th>
                                                                                <th>Средняя цена за 1 шт</th>
                                                                            </thead>
                                                                            <tbody>
                                                                                {% for product_aggr in kind_aggr.products_aggr %}
                                                                                    <tr>
                                                                                        <td>{{ forloop.counter }}</td>
                                                                                        <td>{{ product_aggr.product.product_name }}</td>
                                                                                        <td>{{ product_aggr.count }}</td>
                                                                                        <td>{{ product_aggr.cost_price|round_number:'2' }}</td>
                                                                                        <td>{{ product_aggr.product_cost|round_number:'2' }}</td>
                                                                                        <td>{{ product_aggr.get_profit_amount|round_number:'2' }}</td>
                                                                                        <td>{{ product_aggr.get_average_cost_price|round_number:'2' }}</td>
                                                                                    </tr>
                                                                                {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><b>Итого</b></td>
                <td><b>{{ report.total_cost_amount|round_number:'2' }}</b></td>
                <td><b>{{ report.total_profit_amount|round_number:'2' }}</b></td>
                <td><b>{{ report.total_percent|round_number:'2' }}</b></td>
                <td><b>{{ report.total_rebate_amount|round_number:'2' }}</b></td>
            </tr>
        </tbody>
    </table>

{% endblock %}