{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function() {
            $("[class^='group_']").each(function() {

                $(this).hover(function() {
                    $(this).css('cursor','pointer');
                });

                $(this).on("click", function(e) {
                    e.preventDefault();
                    var element = $(".group_info_" + $(this).attr("id"));
                    var visible = $(element).css("display");
                    if (visible == "none") {
                        $(element).show();
                        $(this).css('background-color', 'lightgreen');
                    }
                    else {
                        $(element).hide();
                        $(this).css('background-color', 'white');
                    }
               });
            });

            $("[class^='category_']").each(function() {

                $(this).hover(function() {
                    $(this).css('cursor','pointer');
                });

                $(this).on("click", function(e) {
                    e.preventDefault();
                    var element = $(".category_info_" + $(this).attr("id"));
                    var visible = $(element).css("display");
                    if (visible == "none") {
                        $(element).show();
                        $(this).css('background-color', 'lightgreen');
                    }
                    else {
                        $(element).hide();
                        $(this).css('background-color', 'white');
                    }
               });
            });

            $("[class^='kind_']").each(function() {

                $(this).hover(function() {
                    $(this).css('cursor','pointer');
                });

                $(this).on("click", function(e) {
                    e.preventDefault();
                    var element = $(".kind_info_" + $(this).attr("id"));
                    var visible = $(element).css("display");
                    if (visible == "none") {
                        $(element).show();
                        $(this).css('background-color', 'lightgreen');
                    }
                    else {
                        $(element).hide();
                        $(this).css('background-color', 'white');
                    }
               });
            });

        });
    </script>

{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='cashbox' %}">Касса</a>
&rsaquo; <a href="/admin/cashbox/productsell/">Продажи</a>
&rsaquo; {{ 'Отчет по прибыли с продаж' }}
</div>
{% endblock %}

{% block content %}
    <span>Фильтр</span>
    <ul>
        <li><a href="{% url 'product_sell_report_profit_view' %}?period_type=day">За текущий день</a></li>
        <li><a href="{% url 'product_sell_report_profit_view' %}?period_type=month">За текущий месяц</a></li>
        <li>
            <form action="{% url 'product_sell_report_profit_view' %}" id="form_period" method="get">
                <span>За период с </span><input name="period_start" type="date" required pattern="\d{1,2}.\d{1,2}.\d{4}"/>
                по <input name="period_end" type="date" required pattern="\d{1,2}.\d{1,2}.\d{4}"/>
                <input hidden name="period_type" value="period">
                <input type="submit">
            </form>
        </li>
    </ul>
    </h1>
    <h1>{{ report }}</h1>
    <table>
        <thead>
            <th>№</th>
            <th>Группа</th>
            <th>Общая сумма продаж(руб.)</th>
            <th>Прибыль(руб.)</th>
            <th>Прибыль(%)</th>
            <th>Сумма скидки(руб.)</th>
        </thead>
        <tbody>
            {% for key, group_aggr in report.groups_aggr.items %}
            <tr class="group_{{ forloop.counter }}" id="{{ forloop.counter }}">
                <td>{{ forloop.counter }}</td>
                <td>{{ key }}</td>
                <td>{{ group_aggr.sell_cost }}</td>
                <td>{{ group_aggr.profit_cost }}</td>
                <td>{{ group_aggr.profit_percent|round_number:'2' }}</td>
                <td></td>
            </tr>
            <tr class="group_info_{{ forloop.counter }}" style="display: none;">
                <td></td>
                <td>
                    <table>
                        <thead>
                            <th>№</th>
                            <th>Категория</th>
                            <th>Общая сумма продаж(руб.)</th>
                            <th>Прибыль(руб.)</th>
                        </thead>
                        <tbody>
                            {% for category_aggr in group_aggr.categories_aggr %}
                            {% random_hex as random_id  %}
                            <tr class="category_{{ forloop.counter }}" id="{{ random_id }}">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ category_aggr.category.category_name }}</td>
                                <td>{{ category_aggr.sell_cost }}</td>
                                <td>{{ category_aggr.profit_cost }}</td>
                            </tr>
                            <tr class="category_info_{{ random_id }}" style="display: none;">
                                <td></td>
                                <td>
                                    <table>
                                        <thead>
                                            <th>№</th>
                                            <th>Вид</th>
                                            <th>Количество</th>
                                            <th>Общая сумма продаж(руб.)</th>
                                            <th>Общая сумма по себестоимости(руб.)</th>
                                            <th>Прибыль(руб.)</th>
                                            <th>Средняя цена за 1 шт(руб.)</th>
                                        </thead>
                                        <tbody>
                                            {% for kind_aggr in category_aggr.kinds_aggr %}
                                                {% random_hex as random_kind_id  %}
                                                <tr class="kind_{{ forloop.counter }}" id="{{ random_kind_id }}">
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ kind_aggr.kind.kind_name }}</td>
                                                    <td>{{ kind_aggr.count }}</td>
                                                    <td>{{ kind_aggr.sell_cost|round_number:'2' }}</td>
                                                    <td>{{ kind_aggr.product_cost|round_number:'2' }}</td>
                                                    <td>{{ kind_aggr.get_profit_amount|round_number:'2' }}</td>
                                                    <td>{{ kind_aggr.get_average_sell_cost|round_number:'2' }}</td>
                                                </tr>
                                                <tr class="kind_info_{{ random_kind_id }}" style="display: none;">
                                                    <td></td>
                                                    <td>
                                                        <table>
                                                            <thead>
                                                                <th>№</th>
                                                                <th>Товар</th>
                                                                <th>Кол.</th>
                                                                <th>Сумма продаж</th>
                                                                <th>Сумма по себестоимости</th>
                                                                <th>Прибыль</th>
                                                                <th>Средняя цена за 1 шт</th>
                                                            </thead>
                                                            <tbody>
                                                                {% for product_aggr in kind_aggr.products_aggr %}
                                                                    <tr>
                                                                        <td>{{ forloop.counter }}</td>
                                                                        <td>{{ product_aggr.product.product_name }}</td>
                                                                        <td>{{ product_aggr.count }}</td>
                                                                        <td>{{ product_aggr.cost_price|round_number:'2' }}</td>
                                                                        <td>{{ product_aggr.product_cost|round_number:'2' }}</td>
                                                                        <td>{{ product_aggr.get_profit_amount|round_number:'2' }}</td>
                                                                        <td>{{ product_aggr.get_average_cost_price|round_number:'2' }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><b>Итого</b></td>
                <td><b>{{ report.total_cost_amount|round_number:'2' }}</b></td>
                <td><b>{{ report.total_profit_amount|round_number:'2' }}</b></td>
                <td><b>{{ report.total_percent|round_number:'2' }}</b></td>
                <td><b>{{ report.total_rebate_amount|round_number:'2' }}</b></td>
            </tr>
        </tbody>
    </table>
    <input type="button" value="Назад" onclick="window.location='/admin/cashbox/productsell/';">

{% endblock %}