{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrahead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='cashbox' %}">Касса</a>
&rsaquo; <a href="/admin/cashbox/productsell/">Продажи</a>
&rsaquo; {{ 'Отчет по продажам' }}
</div>
{% endblock %}

{% block content %}
    <span>Фильтр</span>
    <ul>
        <li><a href="{% url 'product_sell_report_view' 1 %}?period_type=day">За текущий день</a></li>
        <li><a href="{% url 'product_sell_report_view' 1 %}?period_type=month">За текущий месяц</a></li>
        <li>
            <form action="{% url 'product_sell_report_view' 1 %}" id="form_period" method="get">
                <span>За период с </span><input name="period_start" type="date" required pattern="\d{1,2}.\d{1,2}.\d{4}"/>
                по <input name="period_end" type="date" required pattern="\d{1,2}.\d{1,2}.\d{4}"/>
                <input hidden name="period_type" value="period">
                <input type="submit">
            </form>
        </li>
    </ul>
    </h1>
    <h1>{{ report }}</h1>
    <ul>
        <li><b>Продавец - {{ report.user }}</b></li>
    </ul>
    <table id="product-sell-report">
        <caption>Список продаж</caption>
        <thead>
            <th>№</th>
            <th>Дата продажи</th>
            <th>Сумма продажи</th>
        </thead>
        <tbody>
            {% for sell in report.sells %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'product_sell_view' sell.id %}">{{ sell.get_verbose_sell_date }}</a></td>
                <td>{{ sell.get_sell_amount }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><b>Итого</b></td>
                <td><b>{{ report.total_amount|round_number:"2" }}</b></td>
            </tr>
        </tbody>
    </table>

    </br>
    <h1>Добавлено в кассы</h1>
    <ul>
        {% for key in report.payments %}
            <li>{{ key }} - {{ report.payments|get_item:key }} руб.</li>
        {% endfor %}
    </ul>
    <input type="button" value="Назад" onclick="window.location='/admin/cashbox/productsell/';">

{% endblock %}