{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='cashbox' %}">{{ 'Касса' }}</a>
&rsaquo; <a href="/admin/cashbox/productsell/">Продажи</a>
&rsaquo; {{ 'Просмотр продажи товара' }}
</div>
{% endblock %}

{% block content %}
    <table id="product-sell-data">
        <caption>Список товаров продажи</caption>
        <thead>
            <th>№</th>
            <th>Группа</th>
            <th>Категория</th>
            <th>Вид</th>
            <th>Наименование</th>
            <th>Количество</th>
            <th>Цена(за 1 шт)</th>
            <th>Сумма</th>
        </thead>
        <tbody>
        {% for shipment in product_sell.shipments.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ shipment.product.product_kind.product_category.product_group.group_name }}</td>
                <td>{{ shipment.product.product_kind.product_category.category_name }}</td>
                <td>{{ shipment.product.product_kind.kind_name }}</td>
                <td>{{ shipment.product.product_name }}</td>
                <td>{{ shipment.product_count }}</td>
                <td>{{ shipment.cost_price }}</td>
                <td>{{ shipment.get_product_amount }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td></td>
                <th></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Итого</td>
                <td><b>{{ product_sell.get_sell_amount }}</b></td>
            </tr>
        </tbody>
        </table>

    <table id="payment-data">
        <caption>Оплата</caption>
        <thead>
            <th>№</th>
            <th>Тип</th>
            <th>Сумма</th>
            <th>Доп.информация</th>
        </thead>
        <tbody>
            {% for payment in product_sell.payments.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ payment.get_cash_type_display }}</td>
                <td>{{ payment.cash }}</td>
                <td>{% if payment.description %}<textarea rows="5" cols="60" readonly>{{ payment.description}}</textarea>{% endif %}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>Итого</td>
                <td><b>{{ product_sell.get_payment_amount }}</b></td>
            </tr>
        </tbody>
    </table>
    <input type="button" value="Назад" onclick="window.location='/admin/cashbox/productsell/';">

{% endblock %}