{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript">
        
        function getToken() {
            return $("input[name='csrfmiddlewaretoken']").val()
        }

        $(document).ready(function() {
            $('#product-sell-delete').click(function(e) {
                e.preventDefault();
                if (confirm("Подтвердите отмену продажи!"))
                {
                    $.ajax({
                        method: 'POST',
                        dataType: 'json',
                        url: '{% url 'product_sell_delete_view' productsell.id %}',
                        data: { 'csrfmiddlewaretoken': getToken() },
                        success: function(data){
                            data = jQuery.parseJSON(JSON.stringify(data));
                            if (data['success']) {
                                window.location = '/admin/cashbox/productsell/';
                            }
                            else
                            {
                                alert("Ошибка при отмене продажи!\nОбратитесь к администратору системы!");
                            }
                        },
                        error: function(error) {
                            alert("Ошибка при отмене продажи!\nОбратитесь к администратору системы!");
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='cashbox' %}">{{ 'Касса' }}</a>
&rsaquo; <a href="/admin/cashbox/productsell/">Продажи</a>
&rsaquo; {{ 'Просмотр продажи товара' }}
</div>
{% endblock %}

{% block content %}
    <ul>
        <li>Id продажи - {{ productsell.id }}</li>
        <li>Продавец - {{ productsell.seller }}</li>
        <li>Покупатель - {{ productsell.customer.customer_type.type_name }} / {{ productsell.customer }}</li>
        <li>Время продажи - {{ productsell.get_verbose_sell_date }}</li>
        <li>
            Обновить время продажи
            <form action="{% url 'product_sell_view' productsell.id %}" method="post">
                {% csrf_token %}
                {% if form.sell_date.errors %}{{ form.sell_date.errors }} {% endif %}
                <input type="datetime-local" name="sell_date">
                <input type="submit" value="обновить">
            </form>
        </li>
    </ul>
    <table id="product-sell-data">
        <caption>Список товаров</caption>
        <thead>
            <th>№</th>
            <th>Группа</th>
            <th>Категория</th>
            <th>Вид</th>
            <th>Наименование</th>
            <th>Количество</th>
            <th>Цена(за 1 шт)</th>
            <th>Сумма</th>
        </thead>
        <tbody>
        {% for shipment in productsell.get_shipments %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ shipment.product.product_kind.product_category.product_group.group_name }}</td>
                <td>{{ shipment.product.product_kind.product_category.category_name }}</td>
                <td>{{ shipment.product.product_kind.kind_name }}</td>
                <td>{{ shipment.product.product_name }}</td>
                <td>{{ shipment.product_count }}</td>
                {% if productsell.rebate > 0 %}
                    <td>{{ shipment.initial_cost_price }} &rarr; {{ shipment.cost_price }}</td>
                {% else  %}
                    <td>{{ shipment.cost_price }}</td>
                {% endif %}
                <td>{{ shipment.get_shipment_amount }}</td>
                <td></td>
            </tr>
        {% endfor %}
            <tr>
                <th></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ shipment.cost_price }}</td>
                <td><b>Итого</b></td>
                <td><b>{{ productsell.get_sell_amount }}</b></td>
            </tr>
        </tbody>
        </table>

    <table id="payment-data">
        <caption>Оплата</caption>
        <thead>
            <th>№</th>
            <th>Тип</th>
            <th>Сумма</th>
            <th>Доп.информация</th>
        </thead>
        <tbody>
            {% for payment in productsell.get_payments %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ payment.get_cash_type_display }}</td>
                <td>{{ payment.cash }}</td>
                <td>{% if payment.description %}<textarea rows="5" cols="60" readonly>{{ payment.description }}</textarea>{% endif %}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>Скидка</td>
                <td><b>{{ productsell.rebate }}(%)</b></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><b>Итого</b></td>
                {% if productsell.rebate > 0 %}
                    <td><b>{{ productsell.get_initial_sell_amount }} &rarr; {{ productsell.get_payment_amount }}</b></td>
                {% else  %}
                    <td><b>{{ productsell.get_payment_amount }}</b></td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    {% csrf_token %}
    <input type="button" value="Назад" onclick="window.location='/admin/cashbox/productsell/';">
    <input id="product-sell-delete" type="button" value="Отменить продажу" style="background: #ba2121">
    <form method="get" action="{% url 'product_sell_check_view' productsell.id %}">
        <input id="product-sell-check" type="submit" value="Получить чек" style="background: darkgray">
    </form>
{% endblock %}