{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block title %} {{ "Форма добавления товара к продаже" }} {% endblock %}

{% block extrahead %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript">
        var group_map = {};
        var category_map = {};
        var kind_map = {};

        function fillSelect(values, selectId){
            if (selectId == undefined || selectId == '')
                return;
            var select = $('#' + selectId);
            clearSelect(select);
            values.sort();
            $.each(values, function(i, v){
                select.append($('<option>',{
                    value: v,
                    text: v
                }));
            });
        }

        function getProductById(id)
        {
            var products = kind_map[$('#kind_selector').val()];
            for (var i in products)
            {
                var product = products[i];
                if (product['id'] == id)
                    return product;
            }
            alert('Ошибка при обновлении инф. по выбраному товару!');
        }

        function getCurProduct()
        {
            return getProductById($('#product_selector').val());
        }

        function fillProductInfo() {
            var curProduct = getCurProduct();

            var cost_price = $('input[name="cost_price"]');
            cost_price.val(curProduct['price_retail']);

            var storage_count = $('#storage_count');
            storage_count.text(curProduct['product_count']);

            var product = $('input[name="product"]');
            product.val(curProduct['id']);
        }

        function fillProductSelect(values, selectId){
            if (selectId == undefined || selectId == '')
                return;
            var select = $('#' + selectId);
            clearSelect(select);

            values.sort(function(a, b){
                var lName = a['product_name'];
                var rName = b['product_name'];
                if (lName < rName)
                    return -1;
                if (lName > rName)
                    return 1;
                return 0;
            });

            $.each(values, function(i, value){
                select.append($('<option>',{
                    value: value['id'],
                    text: value['product_name']
                }));
            });

            fillProductInfo();
        }

        function clearSelect(selectObject){
            selectObject.find('option').remove().end();
        }

        function populateFilter() {
            var groupVal = $('#group_selector').val();
            category_map = group_map[groupVal];
            fillSelect(Object.keys(category_map), 'category_selector');

            var categoryVal = $('#category_selector').val();
            kind_map = category_map[categoryVal];
            fillSelect(Object.keys(kind_map), 'kind_selector');

            var kindVal = $('#kind_selector').val();
            fillProductSelect((kind_map[kindVal]), 'product_selector');
        }

        function buildAlertMessage(messageList) {
            var alertMessage = '';
            for (var i in messageList) {
                alertMessage += messageList[i] + '\n';
            }
            return alertMessage;
        }

        function update_total_amount()
        {
            var rawCountVal = $("input[name='product_count']").val();
            if (rawCountVal == "")
                return;
            var count = parseInt(rawCountVal);
            var cost_price = parseInt($("input[name='cost_price']").val());

            $('#total_amount').text(count * cost_price);
        }

        function validate_form()
        {
            var error_mes = [];
            var storage_count = parseInt($('#storage_count').text());
            if (!(parseInt($("input[name='product_count']").val()) <= storage_count))
                error_mes.push("Поле количество должно быть <= " + storage_count);

            if (error_mes.length > 0) {
                alert(buildAlertMessage(error_mes));
            }

            return error_mes.length == 0;
        }

        $(document).ready(function(){
            $.ajax({
                dataType: 'json',
                method: 'GET',
                url: '{% url 'products_json_view' %}',
                data: {'product_list': 'balance'},
                success: function(data){
                    group_map = jQuery.parseJSON(JSON.stringify(data));
                    fillSelect(Object.keys(group_map), 'group_selector');
                    populateFilter();
                },
                error: function(data){
                    alert('Ошибка получения данных со склада!\nОбратитесь к администратору системы!');
                }
            });

            $('#submit-but').click(function(e){
                e.preventDefault();
                if (!validate_form())
                    return
                $.ajax({
                    method: 'POST',
                    url: '{% url 'product_shipment_add' %}',
                    data: $("#shipment-add").serialize(),
                    success: function(data){
                        data = jQuery.parseJSON(JSON.stringify(data));
                        if (data['success']) {
                            window.opener.document.addProductShipment(data['id']);
                            window.close();
                        }
                        else {
                            if (data['cost_price']) {
                                alert(buildAlertMessage(data['cost_price']));
                                return;
                            }
                            if (data['product_count']) {
                                alert(buildAlertMessage(data['product_count']));
                                return;
                            }
                        }
                    },
                    error: function(error){
                        alert('Ошибка добавления продукта к продаже!\nОбратитесь к администратору системы!');
                    }
                });
            });

            $('#group_selector').change(function(e) {
                e.preventDefault();
                category_map = group_map[this.value];
                populateFilter();
            });

            $('#category_selector').change(function(e) {
                e.preventDefault();
                kind_map = category_map[this.value];
                fillSelect(Object.keys(kind_map), 'kind_selector');

                var kindVal = $('#kind_selector').val();
                var products = kind_map[kindVal];
                fillProductSelect(products, 'product_selector');
            });

            $('#kind_selector').change(function(e) {
                e.preventDefault();
                var products = kind_map[this.value];
                fillProductSelect(products, 'product_selector');
            });

            $("input[name='product_count']").change(function(){
                var curProduct = getCurProduct();
                var curCount = this.value;

                var cost_price = $('input[name="cost_price"]');
                if (curCount > 9) {
                    cost_price.val(curProduct['price_discount']);
                }
                else {
                    cost_price.val(curProduct['price_retail']);
                }
                update_total_amount();
            });

            $("input[name='cost_price']").change(function() {
               update_total_amount();
            });

            $("input[type='radio'][name='cal_type_price']").change(function() {
                var newPrice = getCurProduct()[this.value];
                $("input[name='cost_price']").val(newPrice);
                update_total_amount();
            });

        });
    </script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
</div>
{% endblock %}

{% block content %}
<form id="shipment-add" action="{% url 'product_shipment_add' %}" method="post">
    {% csrf_token %}
    <table>
        <tbody>
            <tr>
                <td><span>Выбор товара</span></td>
                <td>
                    <select id="group_selector"></select>
                    <select id="category_selector"></select>
                    <select id="kind_selector"></select>
                    <select id="product_selector" name="product" form="shipment-add" required></select>
                </td>
            </tr>
            <tr>
                <td><span>Стоимость продажи</span></td>
                <td>
                    <input type="number" name="cost_price" min="1" step="10"/>
                    <input type="radio" name="cal_type_price" value="price_retail" checked>Розница</input>
                    <input type="radio" name="cal_type_price" value="price_discount">Дисконт</input>
                    <input type="radio" name="cal_type_price" value="price_wholesale">Оптом</input>
                </td>
            </tr>
            <tr>
                <td><span>Количество</span></td>
                <td>
                    <input type="number" name="product_count" min="1"/>
                    <span>на складе</span>
                    <span id="storage_count"></span>
                </td>
            </tr>
            <tr>
                <td><span>Итого:</span></td>
                <td><span id="total_amount"></span></td>
            </tr>
        </tbody>
    </table>
    <p><input id="submit-but" type="submit" value="Добавить товар к продаже"/></p>
</form>
{% endblock %}
